<!DOCTYPE html>
<html>
  <head>
    <title>Wolrss</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
